* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #2874f0;
}

ul {
  display: flex;
  justify-content: center;
}

header ul li {
  margin: 10px;
  list-style: none;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  width: 160px;
}

header ul li:hover {
  background-color: #0355c9;
  border-radius: 0.5rem;
}

header ul li a {
  text-decoration: none;
  color: white;
}

.poetName,
.nazmName {
  position: relative;
  display: none;
}

header ul li:hover .poetName,
header ul li:hover .nazmName {
  display: block;
  position: absolute;
  margin-top: 1vh;
  margin-left: -0.8vw;
  color: #fff;
  background-color: #2874f0;
}

header ul li:hover .poetName ul,
header ul li:hover .nazmName ul {
  display: block;
  margin-top: 1.3vh;
}
